.container{
  display: grid;
  grid-area: m;
  background-color: blue;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100%;
}

.list{
  display: flex;
  justify-content: center; ;
}

.menu{


}

.item a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  }

.item a.active {
  color: gold;
}

.hr {
  border: none; /* Убираем границу */
  background-color: red; /* Цвет линии */
  color: red; /* Цвет линии для IE6-7 */
  height: 2px; /* Толщина линии */
}

.someFriends img{
  width: 50px;
  border-radius: 30px;
}
.someFriends{
  text-align: center;
  height: 100%;
  font-weight: 900;
  font-size: 30px;
  color: orange;
}

.FriendStand{
  display: flex;
  justify-content: space-evenly;
  padding: 7px;

}

