.app_solution{
    display: grid;
    grid-template-areas: 
    "hl hm"
    "m w";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    width: 1200px;
    margin: auto;
}